/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables */
:root {
  --primary-color: #ffff;
  --secondary-color: #4595da;
  --text-color: #1a1a1a;
  --font-main: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", serif;
}

/* Base styles */
body {
  font-family: var(--font-main);
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Headings */
.section-heading {
  font-family: var(--font-secondary);
  font-weight: 500;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  font-family: var(--font-secondary);
}

h3 {
  font-size: 2rem;
  font-family: var(--font-secondary);
  font-weight: 300;
}

.my-description {
  font-size: 1.1em;
}

/* Layout */

main {
  position: relative;
  padding-top: 3em;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--secondary-color);
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 40%);
  z-index: -1;
}

header {
  height: 100vh;
}

.about-me-container {
  display: flex;
  align-items: center;
  padding: 0 5em;
  height: 80%;
}

.photo-name {
  position: relative;
  background-image: url(../assets/profile-pic.png);
  background-position: center;
  background-size: cover;
  max-width: 50%;
  width: 40%;
  height: 100%;
  box-shadow: 20px 10px 25px rgba(0, 0, 0, 0.15);
}

.name {
  font-family: var(--font-secondary);
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  padding: 5px 10px;
  color: white;
  font-size: clamp(1.2rem, 3.5vw, 3em);
  border-radius: 5px;
}

.about-socials {
  width: 60%;
  height: 90%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.8em;
  overflow: auto;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.15);
}

/* Social links */
.socials {
  display: flex;
  justify-content: flex-end;
  gap: 1.7em;
}

.icons {
  font-size: 1.8em;
  color: var(--text-color);
}

a {
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

a:active {
  transform: scale(0.9);
}

img {
  width: 300px;
  height: 300px;
}

/* My Work Section */

.work-section {
  padding: 2em 5em 5em 5em;
  max-width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  margin-top: 1em;
}

.project-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  min-height: 400px;
  overflow: hidden;
}

.project-screenshot {
  flex: 1 1 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: var(--font-secondary);
  font-weight: 300;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 1em;
}

.project-description {
  flex: 1 1 30%;
  padding: 1em;
}

.project-name {
  font-family: var(--font-secondary);
  font-size: 1.4em;
  font-weight: 400;
}

.name-link {
  display: flex;
  justify-content: space-between;
}

.project-links {
  padding: 0 1em;
}

.project-link {
  font-size: 1.5em;
  color: var(--text-color);
}

.mdi.project-link {
  margin-left: 1em;
}

.project-text-description {
  padding: 1em 0;
  opacity: 0.7;
}

/* Footer Section */

.footer-section {
  padding: 2em 5em 5em 5em;
  max-width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
}

.contacts-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 3em 3em 3em 3em;
  font-size: 1.2em;
}

.footer-image {
  margin-top: 3em;
  width: 60%;
  height: 30em;
  object-fit: cover;
  box-shadow: 20px 10px 25px rgba(0, 0, 0, 0.15);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.footer-socials {
  margin-top: 2.5em;
  display: flex;
  gap: 1.7em;
}

.footer-socials a {
  font-size: 1.4em;
}

.mdi-email {
  white-space: nowrap;
}

/* MEDIA QUERY */

@media (max-width: 1024px) {
  /* About Me Section  */
  main::before {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0% 30%);
  }

  .about-me-container {
    display: block;
    padding-top: 5rem;
    height: 100vh;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
  }

  .photo-name {
    display: block;
    float: left;
    position: relative;
    width: 40%;
    height: 400px;
    margin: -20px 30px -50px -20px;
    shape-outside: inset(0 0 0 0);
    box-shadow: 20px 10px 25px rgba(0, 0, 0, 0.15);
    top: -90px;
  }

  .profile-pic {
    height: 80%;
  }

  .name {
    font-size: clamp(1rem, 4vw, 4em);
    position: absolute;
    top: 0.8em;
    left: 10em;
    width: auto;
    margin: 0;
    padding: 5px;
    white-space: nowrap;
  }

  .about-socials {
    display: block;
    width: 100%;
    height: auto;
    padding: 1.5em;
    box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.178);
    text-align: justify;
    overflow: visible;
    background-color: var(--primary-color);
  }

  .socials {
    clear: left;
    justify-content: flex-start;
    padding-top: 1rem;
  }

  /* Work Section */

  .work-section {
    padding: 0em 5em 5em 5em;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
    margin-top: 1em;
  }

  .project-container {
    text-align: center;
  }

  /* Contact Section */

  .contacts-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 3em 3em 3em 3em;
    font-size: 1.2em;
  }

  .footer-image {
    margin-top: 3em;
    width: 45%;
    height: 30em;
    object-fit: cover;
    box-shadow: 20px 10px 25px rgba(0, 0, 0, 0.15);
  }

  .footer-socials a {
    font-size: 1.2em;
  }

  .mdi-email {
    white-space: nowrap;
  }
}
